<div style="display: flex;">
  <div>
    <p>27.12.2023 - 1</p>
    <p>2 kullanıcı girdikleri sayı indekslerine göre hangisi büyükse o kullanıcı puan kazanıyor</p>
    <div>
      <input type="number" [(ngModel)]="UserA">
      <button (click)="addArrayA()">1. listeye ekle</button>
      <input type="number" [(ngModel)]="UserB">
      <button (click)="addArrayB()">2. listeye ekle</button>
    </div>
    <div>User 1 {{UserArrayA | json}} User 2 {{UserArrayB | json}}</div>
    <div>Sonuç: A:{{userCompare()}}:B</div>
  </div>
  <div>
    <img src="" width="200" alt="">
  </div>
</div>

<div style="display: flex;">
  <div>
    <p>27.12.2023 - 2</p>
    <p>Girilen 3 diziyi çaprazlama toplama</p>
    <div>
      <input type="number" [(ngModel)]="matrisNumber">
      <button (click)="addMatrisArray()">Ekle</button>
    </div>
    <div>{{matrisArrayFirst | json}}</div>
    <div>{{matrisArraySecond | json}}</div>
    <div>{{matrisArrayThird | json}}</div>
    <div>Toplam: {{matrisSum()}}</div>
  </div>
  <div>
    <img src="" width="200" alt="">
  </div>
</div>