.container{
    font-size: 50px;
    
}

.wave-group{
    width: 150px;
    height: 200px;
}

.wave-up{
    width: 100%;
    height: 100px;
}

.wave-down{
    width: 100%;
    height: 100px;
}

.wave-first-char{
    width: 45px;
    height: 65px;
}

.wave-char{
    width: 25px;
    height: 65px;
}